:root {
  --clearfix: {
    content: '';
    display: table;
    clear: both;
  }
  --container: {
    margin: 0 auto;
    max-width: 1200px;
  }
};

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-variant-ligatures: no-common-ligatures;
}

a,
a:visited {
  color: inherit;
  font-weight: bold;
  display: inline-block;
}

button,
.button {
  font-weight: normal;
  padding: 12px;
  border: 4px solid #000;
  border-radius: 10px;
  display: inline-block;
  background: #fff;
  cursor: pointer;

  &,
  &:visited {
    color: #000;
    text-decoration: none;
  }

  &:hover {
    border-width: 6px;
    padding: 10px;
  }

  &.js-keyboard-focus:hover {
    border-width: 4px;
    padding: 12px;
  }
}

a,
button,
.button {
  position: relative;

  &:focus {
    outline: none;
  }

  &.js-keyboard-focus:focus:before {
    content: "";
    position: absolute;
    top: -14px;
    bottom: -14px;
    left: -14px;
    right: -14px;
    border: 6px dashed #f00;
    border-radius: 16px;
  }
}

pre {
  margin: 0;
}

code,
.code-block {
  font-family: 'Source Code Pro', monospace;
  font-weight: normal;
  border: 4px solid #000;
  border-radius: 10px;
  padding: 2px 4px;
  background-color: #fff;
}

.code-block {
  padding: 24px 40px;
  line-height: 1.4;
  display: inline-block;
}

.hidden {
  display: none;
}

.container {
  @apply --container;
}

header {
  text-align: center;
}

.header-title {
  font-size: 160px;
  margin-top: 120px;
  margin-bottom: 0;
}

.header-subtitle {
  font-size: 40px;
  margin-top: 80px;
}

.header-link {
  font-size: 32px;
  width: 240px;
  margin: 80px 40px;
}

.header-code-block {
  max-width: 800px;
  margin: 24px auto 60px;
  display: block;
}

.announcement-bar {
  display: flex;
}

.announcement {
  background-color: #eee;
  padding: 24px 40px;
  font-size: 24px;
  line-height: 1.6;

  &.announcement-loud {
    background-color: #000;
    color: #fff;
  }
}

.project-description {
  max-width: 1000px;
  margin-top: 160px;
  text-align: center;

  & h1 {
    font-size: 60px;
    line-height: 1.3;
  }

  & p {
    font-size: 32px;
    line-height: 1.4;
  }
}

.docs {
  margin: 200px auto 0;
  position: relative;
  max-width: 2000px;

  &:after {
    @apply --clearfix;
  }

  & h2 {
    padding-top: 120px;
    margin-top: 120px;
    border-top: 4px solid #000;
  }

  & h3 {
    padding-top: 40px;
    margin-top: 40px;
  }

  & h4 {
    margin-top: 60px;
    margin-bottom: 24px;
  }

  & p,
  & ul {
    line-height: 2;
  }

  & .code-block {
    max-width: 1200px;
  }
}

.docs-nav {
  position: absolute;
  padding: 40px 40px 40px 24px;
  background-color: #fff;

  &.js-sticky-active {
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
  }

  & a {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
    text-decoration: none;
    display: block;
  }

  & .docs-nav-section {
    & a:first-of-type {
      font-size: 20px;
      font-weight: bold;
    }

    &:not(:first-of-type) {
      margin-top: 24px;
    }
  }
}

.docs-example {
  margin-bottom: 60px;

  & .docs-example-content {
    display: none;
  }

  &.js-active .docs-example-content {
    display: block;
  }

  & p {
    margin-top: 60px;

    & + p {
      margin-top: 0;
    }
  }
}

.docs-section-link {
  text-decoration: none;

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.docs-example-toggle {
  margin-top: 24px;
}

.docs-example-content {
  padding-top: 16px;
  padding-bottom: 60px;
  margin-top: 40px;
  background-color: #eee;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 24px;

  & code {
    border: 0;
  }
}

th,
td {
  padding: 16px;
  border: 4px solid #000;
  text-align: left;
}

footer {
  text-align: center;
  padding: 80px 0 40px;
}
